.card-container {
  margin: 0rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 70vw;
  height: 500px;
  margin: auto;
 
}
.card-0{
margin-bottom: auto;
}
.card {
  width: 30%;
  height: 200px;
  background: #042c54;
  margin: 0.5rem 0.5rem;
  clip-path: polygon(25% 0%, 100% 1%, 100% 50%, 100% 100%, 0 100%, 0 11%);
}
