.footer {
  color: #ffffff;
  font-family: "Manrope";
  font-style: normal;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
}
.footer-links li {
  list-style-type: none;
  margin: 1rem 0rem;
  white-space: pre-line;
  width: 156px;
}

.footer-links li:first-child {
  font-weight: 600;
}

.footer-text button {
  font-size: 1rem;
  color: #ffffff;
  width: 218px;
  height: 65px;
  background: transparent;
  color: #fff;
  border: 1px solid #ffffff;
}

.footer-text h1 {
  width: 821px;
  height: 150px;
  margin: auto;
  margin-top: 5rem;

  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */

  text-align: center;
  letter-spacing: -0.04em;

  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.copyright-section{
    margin: 10rem 0rem 2rem 0rem;
    text-align: center;
  
}